<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link href="/css/s.css" rel="stylesheet">
	<script src="/js/superbin.js"></script>
	<title>수퍼빈 현황</title>
</head>

<body>
{{{body}}}
</body>
</html>