	<h1>수퍼빈 현황</h1>

	<table id="device_status" style="font-size: xxx-large;" border=1>
		<tr id="device_status_header"><th>위치</th><th>수량</th><th>상태</th><th>마지막 갱신일</th></tr>
	</table>

<script>get_superbin_status("{{device_list_str}}")</script>